.result-container {
    text-align: center;
    font-family: 'DM sans', sans-serif;
    color: #333;
    max-width: 100vw;
    margin: 0 auto;
    flex-direction: column;
  }
  
  .result-header {
    height: 25vh;
    background: linear-gradient(to bottom, var(--theme-color) 0%, transparent 100%);
    border-bottom-left-radius: 50% 100%;
    border-bottom-right-radius: 50% 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
  }
  
  .pokemon-image {
    width: 178px;
    height: 178px;
    object-fit: contain;
    position: absolute;
    bottom: -4px;
  }
  
  
  .pokemon-name {
    font-size: 1.8rem;
    font-weight: bold;
    margin-top: 1rem;
  }
  
  .type-logo {
    display: block;
    margin: 0.5rem auto;
    height: 32px;
  }
  
  .result-headline {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 1rem;
    font-family: 'Comic Sans MS', sans-serif;
  }
  
  .result-bio {
    padding: 1rem 2rem;
    font-size: 1rem;
    margin-top: 1rem;
    line-height: 1.6;
    font-family: 'Comic Sans MS', sans-serif;
  }
  

  .result-footer {
    flex-shrink: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
  }
  
  .result-button {
    background-color: var(--theme-color);
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 12px;
    font-weight: bold;
    font-family: "Comic Sans MS", sans-serif;
    font-size: 1rem;
    cursor: pointer;
    transition: transform 0.2s ease;
    text-shadow:
    -1px -1px 0 #000,
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
  }
  
  .result-button:hover {
    transform: scale(1.05);
  }
  
  
  